
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	background: #FFEFD5;
	font-family: Roboto, Arial, Helvetica;
}
header {
	position: relative;

}
.logopilar{
	width: 20%;
	margin-left: 10%;
}
nav{
	position: absolute;
	top: 20%;
	left: 50%;
}
nav ul{
	list-style: none;
	
}
nav li{
	display: inline;
	line-height: 30px;
    padding: 10px;
}
nav li a{
	color: #F4A460;
	text-decoration: none;
	border: 3px solid #F4A460;
	justify-content: space-around;
	padding: 5px;	
	border-radius: 10px;
	
}
nav li a:hover {
	background: #F4A460;
	color: #FFEFD5;
}
.titulo{
	text-align: center;
}
.alinhameio{
	display: inline-block;
}
.trabalho{
	background: #F4A460;
	display: inline-block;
	margin-left: 55%;
	font-size: 0.8cm;
	margin-top: 100px;
	border: ;
	padding: 10px;
	color: #8B4513;
	border-radius: 10px;
	margin-right: 30px;
	font-family: 'Open Sans', sans-serif, Roboto, Arial, Helvetica;
}

h2 {
	line-height: 10px;
	font-size: 0.75cm;
	text-align: center;
	color: #8B4513;


}

.meio{
	background: #F4A460;
	padding: 50px;
	width: 35%;
	margin-top: -460px;
	border-radius: 10px;
}
.imagem1{
	width: 120%;
	border-radius: 10px;
	border: 10px solid #8B4513;

}
h3 {
	font-size: 0.75cm;
	padding: 50px;
	text-align: center;
	color: #8B4513;


}
.imagenscasas{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	border: 10px solid #F4A460;
	margin-top: -50px;
}
.imgcasa{
	width: 50%;
}
.imgcasa2{
	width: 50%;
}
.projetos{
	display: flex;
	border: 10px solid #F4A460;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -50px;
}
.projetocasa1{
	width: 50%;
}
.projetocasa2{
	width: 50%;
}
.fundo{
	background: #8B4513;
	color: #FFEFD5;

}
h4 {
	font-size: 0.75cm;
	line-height: 50px;
	margin-left: 3%;

}
.contato{
	margin-top: -40px;
	list-style: none;
	line-height: 30px;
	margin-left: 3%;
}
.insta{
	width: 5%;
	margin: -10px;
	margin-top: 20px;
}